<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Панель администратора</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Stylesheet -->
    <link rel="stylesheet" th:href="@{/css/styles-admin.css}" href="../../css/styles-admin.css" />
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,700,800" rel="stylesheet">

</head>
<body>
<div th:replace="fragments/admin-header-frag :: admin-header-frag"/>

<div class="container-fluid">
    <div class="alert alert-warning" style="margin-top: 10px;">
        <h4>Создание нового пользователя</h4>
    </div>
    <form class="add-user" action="/admin/users/add" method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text input-title">Username</span>
            </div>
            <input type="text" aria-label="username" name="username" class="form-control">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text input-title">Фамилия и Имя</span>
            </div>
            <input type="text" aria-label="First name" name="firstName" class="form-control">
            <input type="text" aria-label="Last name" name="secondName" class="form-control">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text input-title">Номер студенческого</span>
            </div>
            <input type="text" aria-label="First name" name="studentBookId" class="form-control">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text input-title" for="userRole">Тип пользователя</label>
            </div>
            <select class="custom-select" name="role" id="userRole">
                <option th:each="role : ${T(com.vsu.project.service.entity.enums.UserRole).values()}"
                        th:value="${role}" th:text="${role}">
                </option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text input-title" for="department">Факультет обучения</label>
            </div>
            <select class="custom-select" name="department" id="department">
                <option th:each="department : ${departments}" th:value="${department.id}"><span th:text="${department.name}"></span></option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text input-title" for="password">Пароль</span>
            </div>
            <input type="text" name="password" aria-label="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success" style="width: 250px;"><img src="https://img.icons8.com/color/48/000000/user-male-skin-type-3.png" width="25"> Создать</button> <a href="/admin/users" class="btn btn-danger" style="width: 200px;"><img src="https://img.icons8.com/color/48/000000/close-window.png" width="25"> Отмена</a>
    </form>
</div>

<!-- BOOTSTRAP JS -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>