<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer-frag">
    <div class="container-fluid" style="background-color: rgba(15, 17, 66, 1);">
        <div class="container">
            <div class="row" style="margin-right: 10px; margin-left: 10px; ">
                <footer class="footer-block col-md-12">
                    <div class="row">
                        <div class="col-12 col-md" style="margin-left: 50px;">
                            <p><img class="mb-2" src="https://cs5-2.4pda.to/13486298.png" alt="" width="40" height="40"> VSU Tournaments</p>
                            <p class="small-text">Создано, чтобы наслаждаться учебой.<br>All rights reserved. &copy; 2018</p>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-6 col-md">
                            <h5>Контакты</h5>
                            <ul class="list-unstyled text-small" style="margin-top: 25px;">
                                <li><a class="text-footer-links" href="#"><img class="mr-2" src="https://img.icons8.com/ios-glyphs/50/ffffff/map-pin.png" width="20" height="20">ул. Есенина, д.228</a></li>
                                <li><a class="text-footer-links" href="#"><img class="mr-2" src="https://img.icons8.com/material/50/ffffff/home.png" width="20" height="20">+7 (908) 131 10-55</a></li>
                                <li><a class="text-footer-links" href="#"><img class="mr-2" src="https://img.icons8.com/metro/50/ffffff/info.png" width="20" height="20">ИНН 11111111111111</a></li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
</body>
</html>