<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="header-frag">
    <nav class="navbar navbar-expand-md navbar-dark main-menu">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img th:src="@{/img/logo.png}" width="30" height="30" class="d-inline-block align-top" alt="">
                VSU Tournaments
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tournaments">Турниры</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sponsors">Спонсоры</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rating">Рейтинг</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Вопрос / Ответ</a>
                    </li>
                </ul>
                <div sec:authorize="!isAuthenticated()">
                    <div class="dropdown pmd-dropdown pmd-user-info">
                        <a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center" data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
                            <div class="username">
                                Войти
                            </div>
                        </a>
                        <div class="dropdown-menu" style="width: 200px;">
                            <form class="px-4 py-3" action="/j_spring_security_check" method="POST" name="logging-form">
                                <div class="form-group">
                                    <label for="exampleDropdownFormEmail1">Имя пользователя:</label>
                                    <input name="username" type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="Введите имя пользователя" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleDropdownFormPassword1">Пароль:</label>
                                    <input name="password" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Введите пароль" required>
                                </div>
                                <input type="submit" class="btn btn-primary" value="Войти">
                            </form>
                        </div>
                    </div>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <div class="dropdown pmd-dropdown pmd-user-info">
                        <a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center" data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
                            <img class="mr-2" th:src="${user.picture}" style="border-radius: 5px;" width="40" height="40" alt="avatar">
                            <div class="username">
                                <span th:text="|${user.firstName} ${user.secondName}|"></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <a class="dropdown-item" th:href="'/profile/' + ${user.id}">Перейти в профиль</a>
                            <a class="dropdown-item" href="/logout">Выйти</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>