<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="sponsors-frag">
    <div class="container" style="padding: 0px;">
        <div class="sponsors-block">
            <section class="customer-logos slider" style="height: 30px;">
                <div class="slide"><img class="img-sponsors" src="https://upload.wikimedia.org/wikipedia/commons/5/55/DataArt%27s_Logo.png"></div>
                <div class="slide"><img class="img-sponsors" src="https://www.polinaft.com/images/lukoil.png"></div>
                <div class="slide"><img class="img-sponsors" src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c2/Netcracker_Technology_logo.svg/1280px-Netcracker_Technology_logo.svg.png"></div>
                <div class="slide"><img class="img-sponsors" src="https://upload.wikimedia.org/wikipedia/commons/5/55/DataArt%27s_Logo.png"></div>
                <div class="slide"><img class="img-sponsors" src="https://www.polinaft.com/images/lukoil.png"></div>
                <div class="slide"><img class="img-sponsors" src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c2/Netcracker_Technology_logo.svg/1280px-Netcracker_Technology_logo.svg.png"></div>
            </section>
        </div>
    </div>
</div>
</body>
</html>