.main-menu{
    background-color: rgba(15, 17, 66, 0.9);
}

.footer-block{
    background-color: rgba(15, 17, 66, 1);
    color: white;
}

footer{
    padding: 40px 40px 10px 40px;
    margin: 0px;
}

.small-text{
    font-size: 12px;
}

.text-footer-links{
    font-size: 12px;
    color: white;
}