body{
    background: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.main-menu{
    background-color: rgba(15, 17, 66, 0.9);
}

.main-container{
    background-color: rgba(255,255,255, 0.1);
    padding-top: 10px;
}

.username{
    color: white;
}

.icon-menu{
    color: white;
}

.black-line{
    height: 1px;
    background-color: rgba(0,0,0,0.1);
}

.news-block{
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px;
    color: rgba(15, 17, 66, 0.9);
    background-color: rgba(0,0,0,0.05);
}

.main-title{
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

.news{
    color: rgba(15, 17, 66, 0.9);
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
}

.news-title{
    display: inline-block;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.news-subtitle{
    display: inline-block;
    font-size: 13px;
    color: rgba(15, 17, 66, 0.7);
    padding: 0;
    margin: 0;
}

.news-subscribe{
    display: inline-block;
    font-size: 11px;
    color: rgba(0,0,0,0.3);
    padding: 0;
    margin: 0;
}

.prize-block{
    border: 1px solid #24275e;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    color: white;
}

.tournaments-block{
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    color: white;
}

.top-users-block{
    background-color: #24275e;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    color: white;
}

.users{
    margin-top: 15px;
}

.user-block{
    color: #9399ff;
}

.line{
    height: 1px;
    background-color: rgba(255,255,255,0.2);
}

.footer-block{
    background-color: rgba(15, 17, 66, 1);
    color: white;
}

footer{
    padding: 40px 40px 10px 40px;
    margin: 0px;
}

.small-text{
    font-size: 12px;
}

.text-footer-links{
    font-size: 12px;
    color: white;
}

.tournament{
    display: inline-block;
    width: 200px !important;
    height: 350px !important;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #5c2589;
    border-radius: 10px;
}

.slide{
    height: 30px !important;
}

.enter{
    color: white;
}

.enter:hover{
    color: rgba(220,220,220);
    text-decoration: none;
}

.tournament-bg-purple{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5c2589+0,14184c+100 */
    background: #5c2589; /* Old browsers */
    background: -moz-linear-gradient(top, #5c2589 0%, #14184c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #5c2589 0%,#14184c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #5c2589 0%,#14184c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c2589', endColorstr='#14184c',GradientType=0 ); /* IE6-9 */
}

.tournament-bg-red{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

.tournament-bg-blue{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b59d3+0,002556+100 */
    background: #3b59d3; /* Old browsers */
    background: -moz-linear-gradient(top, #3b59d3 0%, #002556 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3b59d3 0%,#002556 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3b59d3 0%,#002556 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b59d3', endColorstr='#002556',GradientType=0 ); /* IE6-9 */
}

.main-tournaments-title{
    padding: 10px;
    margin: 0px;
    margin-right: 10px;
    color: rgba(0,0,0,0.7);
    border-radius: 10px;
    font-size: 20px;
}

.tournament-title{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    height: 60px;
}

.tournament-subtext{
    text-align: center;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
}

.winner-img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.winner-title{
    font-size: 15px;
}

.winner-name{
    font-size: 13px;
    padding-top: 10px;
}

.sponsors-block{
    background-color: rgba(255,255,255, 0.1);
    padding: 40px;
}

.img-sponsors{
    height: 30px;
}