<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {#<meta http-equiv="X-UA-Compatible" content="IE=edge">#}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Log in with your account</title>

    {#<link href="${contextPath}/resources/css/bootstrap.min.css" rel="stylesheet">#}
    {#<link href="${contextPath}/resources/css/common.css" rel="stylesheet">#}

</head>

<body>

<form method="POST" action="/j_spring_security_check">
    <h2>Log in</h2>

    <div>
        <span></span>
        <input name="username" type="text" class="form-control" placeholder="Username"
               autofocus="true"/>
        <input name="password" type="password" class="form-control" placeholder="Password"/>
        <button type="submit">Log In</button>
        <h4 class="text-center"><a href="">Create an account</a></h4>
    </div>

</form>

</body>
</html>